[Desktop Entry]
Name=Text Editor
Exec=templatefrombuilder <----------------- CHANGE THIS
Icon=com.github.tiago-vargas.text-editor
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
